<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>스코어 보드</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" th:include = "/part/menu::header"></nav>
<div class="container text-center">
	<h2 class="font-weight-bold">축구 스코어 보드</h2>
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th width="10%">순위</th>
				<th>팀명</th>
				<th>승</th>
				<th>패</th>
				<th>무승부</th>
				<th>총점</th>
				<th>참가횟수</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="team, index : ${list}">
				<td><p th:text="${index.index+1}"></p></td>
				<td><b th:text="${team.teamName}"></b></td>
				<td><b th:text="${team.win}"></b>회</td>
				<td><b th:text="${team.lose}"></b>회</td>
				<td><b th:text="${team.draw}"></b>회</td>
				<td><b th:text="${team.score}"></b>점</td>
				<td><b th:text="${team.total}"></b>회</td>
			</tr>
		</tbody>
	</table>
	<div th:include = "/part/menu::footer"></div>
</DIV>
</body>
</html>